.formdiv, .formdivminimised {
    z-index: 1;
    position: fixed;
    left: 60%;
    top: 20%;

    width: auto;
    max-width: 550px;
    min-width: auto;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    overflow-y: scroll;

    background-color: rgb(20, 20, 0);
    padding: 10px;
    border: 3px solid rgb(40, 40, 20);

    animation: form-maximise 0.4s;


    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@keyframes form-minimise {
    from {
        top: 20%;
    }
    to {
        top: 80%;
    }
}

@keyframes form-maximise {
    from {
        top: 80%;
    }
    to {
        top: 20%;
    }
}

.formdivminimised {
    top: 80%;
    animation: form-minimise 0.4s;
    overflow-y: hidden;

}

.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newpostform {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

}


.newpostform > label, .newpostform > input, .newpostform > textarea {
    margin-bottom: 15px;
}

.newpostform > input {
    width: 300px;
}

.textarea {

    height: auto;
    min-height: 200px;
    width: 100%;
    min-width: 500px;
    padding: 5px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid rgb(20, 20, 0);
    
    border-radius: 10px 0px 0px 10px;
    overflow-y: scroll;

    font-family: Arial;
    font-size: 15px;
    outline: none;

    resize: none;
}

.submitbtn {
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    padding: 12px;
    min-height: 40px;
    min-width: 60px;
    outline: none;
    font-size: 20px;
    border-radius: 8px;

}

.submitbtn:hover {
    cursor: pointer;    
    background-color: rgb(140, 0, 0);

}

.minmaxbtn {
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    padding: 12px;
    height: 40px;
    min-width: 60px;
    outline: none;
    font-size: 20px;
    border-radius: 8px;

    text-align: center;
}

.minmaxbtn:hover {
    cursor: pointer;    
    background-color: rgb(140, 0, 0);

}

.replylist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    justify-content: center;
    align-self: center;
    list-style: none;
    
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.replylist li {
    background-color: rgb(180, 0, 0);
    border-radius: 8px;
    padding: 2px;
    width: auto;
    margin: 2px;

    text-align: center;
    font-size: 14px;
}

.replylist li:hover {
    background-color: rgb(140, 0, 0);
    cursor: pointer;
}