.page {
    background-color: rgb(40, 40, 40);
    height: auto;
    min-height: 100vh;

}

.page h1, .page h2, .page h3, .page div {
    color: white;
}

.centeredtext {
    text-align: center;
}

.page a {
    text-decoration: none;
}

.page a:hover {
    color: orangered;
}

.content {
    padding: 5px;
}