.formdiv {
    width: auto;

    background-color: rgb(20, 20, 0);
    padding: 10px;

    margin-bottom: 25px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.newpostform {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

}


.newpostform > label, .newpostform > input, .newpostform > textarea {
    margin-bottom: 15px;
}

.textarea {

    height: 200px;
    width: 600px;
    padding: 5px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

    font-family: Arial;
    font-size: 15px;
    outline: none;
}

.submitbtn {
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    padding: 12px;
    min-height: 40px;
    min-width: 60px;
    outline: none;
    font-size: 20px;
    border-radius: 8px;

}

.submitbtn:hover {
cursor: pointer;
}