.formdiv {
    width: auto;

    background-color: rgb(20, 20, 0);
    padding: 10px;

    margin-bottom: 25px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.newpostform {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

}


.newpostform > label, .newpostform > input, .newpostform > textarea {
    margin-bottom: 15px;
}

.textarea {
    height: 200px;
    width: 600px;
}
