.formdiv {
    width: auto;
    max-width: 800px;
    min-width: auto;
    background-color: rgb(20, 20, 0);
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.newpostform {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

}


.newpostform > label, .newpostform > input, .newpostform > textarea {
    margin-bottom: 15px;
}

.newpostform > input {
    width: 300px;

}

.newpostform > input[type=text] {
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid rgb(20, 20, 0);
    font-size: 18px;
    padding: 8px;
    border-radius: 6px;
    outline: none;
}


.textarea {

    height: auto;
    min-height: 200px;
    width: 100%;
    min-width: 700px;
    padding: 5px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid rgb(20, 20, 0);

    border-radius: 10px;
    overflow-y: scroll;

    font-family: Arial;
    font-size: 15px;
    outline: none;

    resize: none;
}

textarea::-webkit-scrollbar {
    width: 1em;
    border-radius: 6px;
}
  
textarea::-webkit-scrollbar-track {
    background-color: rgb(30, 30, 10);
}

textarea::-webkit-scrollbar-track:hover {
    cursor: pointer;
}
  
textarea::-webkit-scrollbar-thumb {
    background-color: rgba(10, 10,0, 1);
    outline: 1px solid black;
}
  

.submitbtn {
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    padding: 12px;
    min-height: 40px;
    min-width: 60px;
    outline: none;
    font-size: 20px;
    border-radius: 8px;

}

.submitbtn:hover {
    cursor: pointer;
    background-color: rgb(140, 0, 0);

}

.postlinkdivcontainer {

    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formerror {
    color: rgb(180, 0, 0) !important;
}